@model SlackerRank_preAlpha.Models.CompilerModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/angular/angular.min.js"></script>

<script src="~/js/app-problemlist.js"></script>

<script src="~/js/problemlistController.js"></script>

    
<style>
    #theConsole {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        width: 150px;
        height: 450px;
        box-shadow: 0 0 5px 3px;
    }
    footer {
        position: fixed;
        bottom: 0;
    }
    textarea {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        width: 900px;
        height: 450px;
        box-shadow: 0 0 5px 3px;
        border-radius: 10px;
    }
    .btn {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        box-shadow: 0 0 5px 3px;
        border-radius: 10px;
    }

    #headingTitle {
       
        text-shadow: 0 0 5px 3px black;
        
        
    }

    
    
    #testStyle { 
        width:900px;
        height:450px;    
    }

</style>
<h1 id="headingTitle">Compiler</h1>

@using (Html.BeginForm("index", "Compiler", FormMethod.Post)) { 



<div class="col-md-6" id="testStyle">
    <div class="row">
        
                    
      
                    
    <div class="row">
        <p></p>
    </div>

    <div class="row">
        
        @{try
            {

        <div class="col-md-2"><textarea id="theConsole">@ViewBag.Message @Html.DisplayFor(model => model.outputCode)</textarea> </div>

            }
            catch
            {
                <div id="theConsole" class="col-md-2"> @Html.DisplayText("...")</div>
                }
        }
        <div class="col-md-4"> @Html.TextAreaFor(model => model.inputCode)</div>
    </div>
    <div class="row">
        <p></p>
    </div>

    

    <div class="row">
        
    </div>

    <div class="row">
        <div class="col-md-6"><button class="btn btn-block" type="submit">Compile!</button> </div>
    </div>
</div>
    </div>


            }

